

body {
    font-family: "Sirin Stencil",sans-serif;
    font-size: 14px;
    background-color: forestgreen;
    color : white;
}

#header {
    font-size : 24px;
    font-weight: bold;
    padding : 4px;
    background-color: white;
    color: forestgreen;
}

#status {
    padding: 4px;
}

#advice {
    padding : 4px;
}

#forestSVG {
    background-color: rosybrown;
    padding : 6px;
    margin-top : 16px;
    margin-bottom : 16px;
}

#userControls {
    display: block;
    height: 24px;
}

#harvestButton {
    float: left;
}
#showDataButton {
    float: right;
}

.tree {
    width : 35px;
    padding: 2px;
}

.treeSVG {
    /*
    fill : forestgreen;
    */
    cursor: pointer;
    opacity: 80%;
    stroke-width: 1px;
    stroke : white;
}

.markSVG {
     stroke : red;
     cursor: pointer;
     stroke-width: 2px;
 }