body {
    font-family: "Sirin Stencil",sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin : 0;
}

h1 {
    padding : 0;
    margin : 0;
    font-family: "UnifrakturCook", serif;
    font-weight : 700;
}

p {
    padding : 0;
    margin : 0;
}

#banner {
    padding: 0.5em;
    background-color: lightgray;
    /* display : inline-block;  */
    position: relative;
}

#controls {
    padding : 0.5em;
}

.oneControl {
    padding : 4px;
}

.panzerNumberInput {
    width : 4em;
}

.roundIcons {
    position: absolute;
    top: 8px;
    right: 8px;
}

.infoIcon {
    width : 32px;
    height : 32px;

}
