
body {
    margin : 0;
    padding : 0;
    color : #333;
    font-family: "Helvetica Neue", Verdana, sans-serif;
    font-size: small;
    /*background: linear-gradient(#dde, #aab );*/
    background-color: #bcd;

}

h1 {
    font-size: large;
}

button {
    cursor : pointer;
    color : white;
    background-color: #468;
    border-radius: 0.5em;
}

.elmcrabs-stripe {
    padding: .3em 0 .3em 1em;
    min-height: 1.5px;
    display: flex;
    align-items: center;
    /*background-color: #dcb;*/
}

.stripe-element {
    margin-right: 1em;
}

#howManyBox {
    width : 3em;
}