body {
    font-family: "Sirin Stencil",sans-serif;
    font-size: 11px;
    font-weight: 400;
    margin : 0;
    overflow : hidden;  /* eliminate scrolling in the main window & header */
}

#simmerControls {
    padding : 0.3em;
    background-color: antiquewhite;
    top : 0;
    left : 0;
    width : 100%;
    height : 51px;
    overflow : hidden;
    display : flex;
    align-items: center;
}

#runButton {
    font-weight: bold;
    background-color: green;
    color: white;
    cursor : pointer;
    height : 3em;
    border-radius: 2em;
}

#newVariableButton {
    cursor : pointer;
}

.shrinkExpandButton {
    height: 1.5em;
    padding: 0.5em;
    cursor: pointer;
    background-color: burlywood;
    border-radius: 0em;
}

#blocklyLogo {
    height : 4em;
    margin-left: auto;
}


#blocklyDiv {
    height: 100vh;
    width: 100%;
    align-self: flex-end;
}


