/**
css for BOTH forest apps
 */

body {
    /* font-family: 'Sirin Stencil',sans-serif;font-size: 16px; */
    font-family: 'Rokkitt', sans-serif;
    font-size: 16px;
    height: 100vh;
    margin: 0;
    padding: 0;
    max-width: 666px;
}

h1, h2 {
    margin: 0;
}

h1 {
    background-color: forestgreen;
    color: white;
    padding: 8px;
    display: flex;
}

input {
    margin-left: 1em;
}

#header, #advice, #signin, #getGame, #startGameControls, #debrief, #playGameControls, #players, #trees, #forestSVG, #forestStatus {
    padding: 8px;
}

#debrief {
    padding: 1em;
    margin-left: 1cm;
    background-color: darksalmon;
}

#buttonDebriefNewGame {
    margin-left: auto;
}

#buttonCopyData {
    margin-left: auto;
}

.iconButton {
    width : 0.6cm
}

.version {
    margin-left: auto;
    font-size: 0.5cm;
    font-weight: normal;
}

.stripe {
    /*
    display : flex;
    */
    align-items: center;
}

.pill {
    /*
    font-family: 'Sirin Stencil', sans-serif;
    */
    /*
    font-weight: bold;
    */
    font-family: 'IBM Plex Sans Condensed', sans-serif;

    background-color: forestgreen;
    color: white;
    border-radius: 6px;
    padding: 4px;
    margin-left: 1em;
}

.tableOfPlayers {
    border-collapse: collapse;
    background-color: #eeeeee;
}

.tableOfPlayers th {
    padding: 6px;
    text-align: left;
    background-color: forestgreen;
    color: white;
}

.tableOfPlayers td {
    padding: 6px;
}

.tableOfPlayers tr:nth-child(even) {
    background-color: #ddffdd;
}

#finance {
    padding: 2em;
    margin-left: 1cm;
    background-color: bisque;
}

#financeBody {
    font-family: "JetBrains Mono", monospace;
    font-size: 14px;
    padding-top: 1.5em;
}

#financeBody td {
    min-width: 2cm;
}

.moneyCell {
    text-align: right;
}

.treeSVG {
    /*
    fill : forestgreen;
    */
    cursor: pointer;
    opacity: 80%;
    stroke-width: 1px;
    stroke: white;
}

.markSVG {
    stroke: crimson;
    cursor: pointer;
    stroke-width: 2px;
}

.harvestedSVG {
    opacity : 20%;
    color : forestgreen;
    stroke: crimson;
    stroke-width: 2px;
    stroke-opacity: 100%;
    stroke-dasharray: 5, 5;
    cursor: none;
}