body {
    color: #333;
    font-family: "Sirin Stencil", sans-serif;
    font-size: small;
    min-height: 100vh; /* make <body> fill the plugin */

    background-color: floralwhite;
    margin : 0;
}

#header {
    padding: 8px;
    background-color: floralwhite;
    display : flex;
}

#story {
    font-weight: bold;
}

#status {
    padding: 8px;
    margin : 0;
}

#gameField {
    padding : 8px;
    background-color: antiquewhite;
}
#cards {
    display : flex;
    padding : 8px;
}

#config {
    padding: 8px;
    background-color: floralwhite;
}
.configBox {
    display: inline;
}

.card {
    y : 40px;
    width: 88px;
    height: 144px;
    margin: 8px;
    border-radius: 8px;
    white-space: normal;

    cursor: pointer;
}

.glyphOnly {
    font-size: 72px;
}

/*
.obverse {
    background-color: bisque;
    color: #333;
}
*/

.obverse {
    background-color: #ad6e1d;
    color: #fff;
}

/* aligning buttons etc */

#headerButtons {
    margin-left: auto;
}

/*		BOX CLASSES		*/

.hBox {
    display: flex;
    flex-direction: row;
    /*display:	-webkit-box;
    display:	-moz-box;
    display:	box;
    -webkit-box-orient:	horizontal;
    -moz-box-orient:	horizontal;
    box-orient:	horizontal;*/
}

.vBox {
    display: flex;
    flex-direction: column;
    /*
    display:	-webkit-box;
    display:	-moz-box;
    display:	box;
    -webkit-box-orient:	vertical;
    -moz-box-orient:	vertical;
    box-orient:	vertical;
    */
}
